os: osx
wsx_image: xcode10

language: swift
xcode_project: kbc_import.xcodeproj
xcode_scheme: kbc_import
xcode_destination: platform=macos

install: swift package update
script:
  - swift build
  - swift test
